#list {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}
#list .li {
    background-color: #272935;
    border: 2px solid #252633;
    display: flex;
    padding: 1px;
    margin: 0 0 2px 0;
}

#list .li .option_select {
    padding: 1px;
    margin: 1px;
}
#list .listItem {
    cursor: pointer;
    margin: 1px;
    padding: 2px;
    width: 100%;
}
#list .li:hover {
    border: 2px solid rgba(52,128,183,1);
}
#list .genreButton {
    background-color: #ff9100;
    border-radius: 5px;
    color: #3b0000;
    cursor: pointer;
    font-weight: bold;
    margin: 1px;
    padding: 2px;
    text-align: center;
    width: 70px;
}

#list .genreList {
    color: #bed5ff;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: flex-end;
    margin: 1px;
    padding: 2px;
    width: 300px;
}