#list {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}
#list .li {
    display: flex;
    padding: 1px;
    margin: 0px;
}

#list .li .option_select {
    padding: 1px;
    margin: 1px;
}
#list .listItem {
    cursor: pointer;
    margin: 1px;
    padding: 2px;
    width: 100%;
}
#list .listItem:hover {
    background-color: #8badaf;
}