#cachedLyricsTextContainer {
    transform: translateX(100vw);

    align-items: center;
    background-color: #000000dd;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#cachedLyricsTextContainer.active {
    transition: 333ms;
    transform: translateX(0);
    overflow: auto;
}

#lyricsJsonContainer {
    border: 1px solid #ffffff30;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    max-height: calc(100vh - 380px);
    overflow: auto;
    padding: 10px;
    row-gap: 10px;
    width: 80vw;
}

.lyricItem {
    display: flex;
    justify-content: flex-start;
}

.lyricItem:nth-child(even) {
    background-color: #ffffff10;
}

.lyricItemTitle {
    color: #04bd83;
}

.lyricsFalse {
    color: #ff0000;
}

.lyricsTrue {
    color: #00ff00;
}