#videoContainer {
    align-items: center;
    background-color: #000;
    color: #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0px !important;
    padding: 0px !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
}

#videoDivContainer_fullScreen {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    visibility: hidden;
    width: 100vw;
    z-index: 20;
}

#video {
    border: 2px solid #ff9100;
    padding: 5px 5px;
}

.video_fullScreen {
    align-items: center;
    background: black;
    border: none !important;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
}

#vAndLContainer {
    display: flex;
    justify-content: center;
}
#lyricsContainer {
    display: flex;
    flex-direction: column;
}
#lyricsHeader {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#lyrics {
    background-color: #1a2632;
    color: #bed5ff;
    height: 440px;
}

#lyricsButtons {
    display: flex;
}

#uploadLyrics {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 240px !important;
}

#videoButtons {
    display: flex;
}

#videoOptions {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    width: 640px;
}

#lyricsContainer .button, #videoButtons .button, #videoOptions .button {
    border: 2px solid #ff9100;
    border-radius: 17px;
    cursor: pointer;
    font-size: 17px;
    padding: 7px 0px !important;
    text-align: center;
    transition: 500ms;
    width: 200px;
}
#lyricsContainer .button:hover, #videoButtons .button:hover, #videoOptions .button:hover {
    background-color: #2d2d2d;
    border-radius: 0px;
}
#lyricsContainer .button, #videoOptions .button {
    transition: 500ms;

    font-size: 12px;
    width: 180px;
}
#videoHeading {
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: bold;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.75em;
    margin: 20px 0px;
    padding: 5px 30px;
    text-align: center;
}

#comingUp {
    display: flex;
    height: 200px;
    border: 2px solid #ff9100;
    margin-top: 20px !important;
    min-width: 600px;
    overflow: hidden;
    width: 800px;
}
#comingUp .c-u-header {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#comingUp .next-header {
    font-size: 20px;
    color: white;
}
#comingUp .next {
    font-size: 14px;
}
#comingUp .now-header {
    color: #30ff00;
}
#comingUp .now {
    font-size: 18px;
    color: white;
}
.coming-up {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#currentlyPlayingPopUp {
    background-color: rgba(0,0,0,0.75);
    border: 2px solid #ff9100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    left: 5%;
    padding: 50px 0 50px 0;
    position: fixed;
    text-align: center;
    width: 80%;
    z-index: 100;
}

.currentlyPlayingShow {
    transition: 2s;

    opacity: 1;
    top: 50%;
}

.currentlyPlayingHide {
    transition: 2s;

    opacity: 0;
    top: 100%;
}

#downloaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    z-index:-10;
}
#downloaderContainer.active {
    transition: 500ms;
    transform: translateX(0);
    z-index: 100;
}

#downloadContainerClose {
    align-items: center;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 80px;
    z-index: 105;
}

#lyricsDownloaderFrame {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0;
    margin: 0;
}

#lyricsScroller {
    transition: 500ms;

    background-color: rgba(0,0,0,0.1);
    display: flex;
    font-size: 18px;
    overflow-y: hidden;
    padding: 12px;
    position: fixed;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: 90;
}

#lyricsScroller:hover {
    background-color: rgba(0,0,0,0.8);
}

#lyricsScrollerShowButton {
    transition: 333ms;

    border: 1px solid #ff9100;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.33;
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 10px;
    visibility: hidden;
    width: 100px;
    z-index: 95;
}

#nLDinputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#nLDinputs input {
    color: #04bd83;
    background-color: #111111;
    border: none;
    font-family: Consolas;
    font-size: 0.75em;
    outline: none;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.nLDRow {
    align-items: center;
    color: #04bd83;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#newLyricsDownloaderContainer {
    align-items: center;
    background-color: #111111;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(200vw);
    width: 100vw;
}
#newLyricsDownloaderContainer.active {
    transition: 333ms;
    transform: translateX(0);
    z-index: 100;
}

#newLyricsDownloader {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    row-gap: 16px;
}

#nLDbuttons {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

#offsetTimedLyricsContainer {
    background-color: rgba(0, 0, 0, 0.867);
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    bottom: 145px;
    opacity: 0;
    position: fixed;
    transform: translateX(100vw);
}
#offsetTimedLyricsContainer.active {
    transition: 333ms;
    transform: translateX(0);
    opacity: 1;
}

#timedLyricContainer {
    background-color: #000000AA;
    bottom: 60px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 60px;
    pointer-events: none;
    position: fixed;
}